@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Raleway:wght@100;200;300;400;500;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.testominals {
    background-color: #fafbfc;
    padding: 5rem 0;
}
.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
.testominal_top,
.tes_con {
    padding: 0 1rem;
}
.testominal_top {
    text-align: center;
}
.testominal_top h1 {
    font-size: 2rem;
    color: #071e55;
    margin-bottom: 1rem;
    line-height: 2rem;
    letter-spacing: 0.05rem;
}
.testominal_top p {
    color: #7c8595;
    font-size: 1.1rem;
}
.tes_itm img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 10px;
    z-index: 99;
}
.tesitminfo {
    background-color: white;
    padding: 5.5rem 2rem 2rem 2rem;
    margin-top: -4rem;
    box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 10px;
}
.tes_itm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
.container {
    
    gap: 2rem;
    margin-top: 1rem;
}
.tesitm_rtn {
    margin-top: 5px;
    color: gold;
    text-align: right;

}
h6 {
    margin-top: 5px;
    color: #1e90ff;
    text-align: right;
}
.ab {
    color: green;
}
.b {
    color: yellow;
}
.c {
    color: red;
}